body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(18, 96, 241);
}
h1 {
    text-align: center;
    color: white;
}

#principal {
    text-align: center;
    
}

#resultado {
    background-color: white;
    margin: auto;
    margin-top: 30px;
    width: 305px;
    padding: 1px 5px 5px 5px;
    border-radius: 5px;
}